

.navigationbar{
    display: table-caption;
    width: 150%;
    margin-top: 43%;
}
.admin-left{
    width: 20%;
    float: left;
}
.admin-right{
    width: 80%;
    float : left;
}
.admin-main{
    margin-left: 1%;
}